<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.article.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.imooc.pojo.Comments">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="writerId" column="writer_id" jdbcType="VARCHAR"/>
            <result property="fatherId" column="father_id" jdbcType="VARCHAR"/>
            <result property="articleId" column="article_id" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="commentUserId" column="comment_user_id" jdbcType="VARCHAR"/>
            <result property="commentUserNickname" column="comment_user_nickname" jdbcType="VARCHAR"/>
            <result property="commentUserFace" column="comment_user_face" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,writer_id,father_id,
        article_id,article_title,article_cover,
        comment_user_id,comment_user_nickname,comment_user_face,
        content,create_time
    </sql>



    <select id="queryByArticleId" resultType="com.imooc.vo.CommentsVO">
        SELECT
            c.id as commentId,
            c.father_id as fatherId,
            c.comment_user_id as commentUserId,
            c.comment_user_nickname as commentUserNickname,
            c.comment_user_face as commentUserFace,
            c.article_id as articleId,
            c.content as content,
            c.create_time as createTime,
            f.comment_user_nickname as quoteUserNickname,
            f.content as quoteContent
        FROM
            comments c
                LEFT JOIN
            comments f
            ON
                c.father_id = f.id
        WHERE
            c.article_id = #{articleId}
        ORDER BY
            c.create_time
        DESC
    </select>
</mapper>
